body{
    margin: 0;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
}

*{
    /*font-family: MS UI Gothic;*/
    /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: calibri;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb{
    background: #595959;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(71, 71, 71);
}

:root{ /*Universelle Farbvariablen*/
    --text-color-light: rgb(6, 5, 5);
    --text-color-dark: rgb(242, 242, 242);
    --background-color-dark: black;
    --background-color-light: white;
}

button{
    color:black;
}

.noscroll{
    overflow: hidden;
}

.hidden{
    display: none !important;
}

.invisible{
    visibility: hidden !important;
}

.rechnerInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0;
    flex-wrap: nowrap;
    gap: 5px;
}

.rechnerInputContainer img{
    height: 1em;
}

.rechnerMultiInputContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
}