.headerTitle{
    align-items: flex-start;
    overflow: hidden;
}

.headerTitle h1{
    padding-left:10%;
}

.headerTitle img{
    overflow: hidden;
    position:absolute;
    right:0%;
    max-width: 50%;
    max-height: 80%;
}

.maintenance_subtitle{
    font-size: 2em !important;
}

@media only screen and (max-width: 1000px) {
    .headerTitle h1{
        padding-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .headerTitle{
        align-items: center;
    }
    .headerTitle img{
        position:unset;
        right:unset;
        /*transform: translate(50%, 33%);
        max-width: 50%;
        max-height: 80%;*/
        transform: translate(22%, 21%);
        max-width: 70%;
        max-height: 89%;
    }
}