#rechner{
    background: url("../../media/hedge_double.jpg") center fixed;
    -webkit-box-shadow: inset 0px 21px 31px -1px rgba(0,0,0,0.66),inset 0px -20px 31px -1px rgba(0,0,0,0.66);; 
    box-shadow: inset 0px 21px 31px -1px rgba(0,0,0,0.66),inset 0px -20px 31px -1px rgba(0,0,0,0.66);;
    /*-webkit-box-shadow: inset 0px -21px 31px -1px rgba(0,0,0,0.66);
    box-shadow: inset 0px -21px 31px -1px rgba(0,0,0,0.66);*/
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    scroll-margin-block-start: var(--navbar-height);
}

#rGrid{
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'kraftstoff ergebnis'
    'verbrauch ergebnis'
    'jahresfahrleistung tabelle'
    'pflanzentyp tabelle'
    'fahrprofil tabelle'
    'abgastechnologie tabelle';
    max-width: 70%;
    justify-content: center;
}

.rCard{
    background-color: #d3d3d399;
    backdrop-filter: blur(6px);
    border: 5px solid gray;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.97); 
    box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.97),;
}

.rCard h3{
    margin: 0 0 10px 0;
}

form{
    margin: 0 0 10px 0;
}

form > span{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

form input[type=button]{ /* Zu .rButton migrieren?*/
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.rButton{
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.selected{
  border: 3px solid green !important;
}

.notSelected{
  /*background-color: darkgray;*/
}

tbody{
    border: 2px solid gray;
    border-collapse: separate;
    padding: 2px;
    display: inline-table;
    background: gray;
    border-radius: 15px;
}

table{
    /*padding: 20px; */
    /* background: #ffb8b8; */
    border-radius: 20px;
    display: inline-table;
    /* border: 1px solid yellow; */
    text-align: center;
    width: 100%;
    overflow: scroll;
}

tr {
    border: 2px solid red;
    background: white;
}


tbody > :nth-child(2n){
    background: #c9c9c9;;
}

th {
    border: gray;
    padding: 10px;
    border-radius: 10px;
    background: #409b00;
}

td {
    border: gray;
    padding: 10px;
    border-radius: 10px;
}

tr :nth-child(1) {
    background-color: darkgray;
}

@media only screen and (max-width: 777px) {
    #rGrid{
        grid-template-areas: 
    'kraftstoff'
    'verbrauch'
    'jahresfahrleistung'
    'pflanzentyp'
    'fahrprofil'
    'abgastechnologie'
    'ergebnis'
    'tabelle';
    max-width: 100%;
    column-gap: 0;
    }
    #rechner{
        padding: 20px 10px 20px 10px;
    }
}

@media only screen and (max-width: 477px) {
    form > span {
        display: flex;
        flex-direction: column;
    }
    .notSelected{
        background-color: darkgray;
    }
    .notSelected:hover{
        background-color: #d1d1d1;
    }
}

@media only screen and (max-width: 650px){
    #rechner{
        scroll-margin-block-start: 0;
    }
}