:root{
    --navbar-height: 50px;
    --navbar-margin: 10px;
    --navbar-padding-top: 0px;
    --navbar-mobile-background: rgb( 78, 78, 78);
}

nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-top: var(--navbar-padding-top);
    height: var(--navbar-height);
    background-color: transparent;
    z-index: 500;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc(var(--navbar-height) - 2.5 * var(--navbar-margin));
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
    box-shadow: none;
}

nav a{
    color: #f2f2f2;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-style: double;
}

nav img{
    max-height: calc(var(--navbar-height) - 1.5 * var(--navbar-margin));
    cursor: pointer;
}

section{
    scroll-margin: var(--navbar-height);
}

.navBackground{
    background-color: rgba(78, 78, 78, 0.733);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 0px 33px 10px rgba(0, 0, 0, 0.623); 
    box-shadow: 0px 0px 33px 10px rgba(0, 0, 0, 0.664);
}

#closeNav{
    display: none;
    cursor: pointer;
    position:absolute;
    bottom:30px;
    right:10px;
    font-size: 30px;
    color: red;
    background-color: gray;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    /*-webkit-box-shadow: var(--settings-box-shadow);
    box-shadow: var(--settings-box-shadow);*/
    filter: var(--settings-drop-shadow);
    transition: font-size 0.25s ease, margin 0.5s ease;
    /*Alles nach unten Experiment*/
    bottom: 10px;
}

.closeNav_pressed{
    font-size: 20px !important;
    margin: 5px 5px 5px 5px  !important;
}

.mobileNavOpen{
    left:0%;
}

.mobileNavClose{
    left:-100%;
}

#navBurger{
    /*position: fixed;*/
    right: 10px;
    bottom: 10px;
    width: 30px;
    z-index: 500;
    cursor: pointer;
    display: none;
    background: gray;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    /*-webkit-box-shadow: 0px 0px 33px 10px rgba(0, 0, 0, 0.623);
    box-shadow: 0px 0px 33px 10px rgba(0, 0, 0, 0.664);*/
    transition: width 0.5s ease, margin 0.5s ease;
}

.navBurger_pressed{
    width: 20px !important;
    margin: 5px 5px 5px 5px !important;
}

:root{
    --settings-width: 50px;
    --settings-img-max-height: calc(var(--navbar-height) - 2 * var(--navbar-margin));
    --settings-drop-shadow: drop-shadow(0px 0px 9px #000000);
    --settings-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.664);
}

#settings{ /*Temporär*/
    position: fixed;
    z-index: 600;
    top:var(--navbar-padding-top);
    right: 0;
    display: flex;
    gap: 10px;
    height: var(--navbar-height);
    margin: var(--navbar-margin)
}

#settings img{
    max-height: var(--settings-img-max-height);
    cursor: pointer;
}

.navbar_popup{
    display: flex;
    background-color: #00000061;
    color: white;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    position: absolute;
    right: calc(var(--settings-width) + 10px);
    bottom:0;
    top:unset;
    transform: unset;
    border-bottom: none !important;
    flex-wrap: unset;
    flex-direction: column-reverse;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: var(--settings-box-shadow);
    box-shadow: var(--settings-box-shadow);
}

@supports not ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
    .navbar_popup {
      background-color: gray;
    }
  }

.navbar_popup_lang a{
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar_popup_lang a:hover{
    text-decoration: underline;
}

.settings_dynamic_img{
    margin:0;
    transition: max-width 0.5s ease, margin 0.5s ease, max-height 0.5s ease;
}

.settings_dynamic_img:active:hover{
    max-width: calc(var(--settings-width) - 10px )!important;
    margin: 5px 5px 5px 5px !important;
}

@media screen and (min-width: 970px) {
    nav{
        gap: 100px;
    }
}

@media only screen and (min-width: 700px){
    .navbar_popup{
        top: calc(var(--navbar-height) - var(--navbar-margin));
        right: 0;
        transform: unset;
        border-bottom: none !important;
        flex-wrap: unset;
        flex-direction: column;
        height: fit-content;
    }
    .settings_dynamic_img:active:hover{
        max-height: calc(var(--settings-img-max-height) - 5px) !important;
        margin: 2.5px 2.5px 2.5px 2.5px !important;
    }
}

@media only screen and (max-width: 700px){
    nav{
        height: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 20px;
        background-color: var(--navbar-mobile-background);
        z-index: 900;
        transition: left 0.5s ease-out;
        left:-100%;
        /*Alles nach unten Experiment*/
        top:unset;
        bottom:0;
        padding-bottom: 25px;
        justify-content: flex-start;
    }
    nav img{
        order:1;
    }
    #settings{
        top: unset;
        bottom: var(--navbar-padding-top);
        flex-direction: column;
        align-items: center; 
        height: auto;   
    }
    #settings img{
        max-width: var(--settings-width);
        max-height: unset;
        filter: var(--settings-drop-shadow);
    }
    .navBackground{
        background-color: var(--navbar-mobile-background);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #closeNav{
        display: block;
    }
    #navBurger{
        display: block;
    }
    section{
        scroll-margin: 0;
    }
}