:root{
    --navbar-height: 33px;
    --navbar-margin: 5px;
    --navbar-padding-top: 0px;
    --navbar-mobile-background: yellowgreen;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding-top: var(--navbar-padding-top);
    height: var(--navbar-height);
    background-color: transparent;
    z-index: 500;
    display: flex;
    gap: 20px;/*------100px-----*/
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc(var(--navbar-height) - 2 * var(--navbar-margin));
    transition: background-color 0.3s linear, box-shadow 0.4s linear;
    box-shadow: none;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav img{
    max-height: calc(var(--navbar-height));
    cursor:pointer;
}

.navBackground{
    background-color: gray;
    -webkit-box-shadow: 0px 0px 33px 10px rgba(0,0,0,0.97); 
    box-shadow: 0px 0px 33px 10px rgba(0,0,0,0.97);
}

#closeNav{
    display: none;
    cursor: pointer;
    position:absolute;
    top:10px;
    right:10px;
}

.mobileNavOpen{
    left:0%;
}

.mobileNavClose{
    left:-100%;
}

#navBurger{
    position:fixed;
    left:10px;
    top:10px;
    width: 20px;
    z-index: 500;
    cursor: pointer;
    display: none;
}

#settings{ /*Temporär*/
    position: fixed;
    z-index: 600;
    top:var(--navbar-padding-top);
    right: 0;
    display: flex;
    gap: 10px;
    height: var(--navbar-height);
    margin: var(--navbar-margin)
}

#settings img{
    max-height: calc(var(--navbar-height) - 2 * var(--navbar-margin));
    cursor: pointer;
}

@media only screen and (max-width: 650px){
    nav{
        height: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 20px;
        background-color: var(--navbar-mobile-background);
        z-index: 900;
        transition: left 0.5s ease-out;
        left:-100%;
    }
    nav img{
        order:1;
    }
    .navBackground{
        background-color: var(--navbar-mobile-background);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #closeNav{
        display: block;
    }
    #navBurger{
        display: block;
    }
}